.barchart-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 2px;
  font-size: 14px;
  background: #33adff;
  color: #fff;
  flex-direction: column;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}